In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('stressdata.csv')

In [3]:
df.head()

,depression,gender,age,marital_status,household_size,household_income,full_time_work,work_type,time_in_current_job,trouble_sleeping_history,sleep_hours,vigorous_work,moderate_work
0,0,1,44,1,4,11,0,2,324,0,9,0,0
1,0,0,70,1,2,11,0,2,96,0,7,0,0
2,0,0,73,1,2,5,0,0,0,1,7,0,1
3,0,1,18,0,3,11,0,2,12,0,6,0,0
4,0,0,19,0,3,11,0,2,24,0,7,0,0

In [4]:
df.shape

(36259, 13)

In [5]:
df.isnull().sum()

depression                  0
gender                      0
age                         0
marital_status              0
household_size              0
household_income            0
full_time_work              0
work_type                   0
time_in_current_job         0
trouble_sleeping_history    0
sleep_hours                 0
vigorous_work               0
moderate_work               0
dtype: int64

In [6]:
df.describe()

,depression,gender,age,marital_status,household_size,household_income,full_time_work,work_type,time_in_current_job,trouble_sleeping_history,sleep_hours,vigorous_work,moderate_work
count,36259.000000,36259.000000,36259.000000,36259.000000,36259.000000,36259.000000,36259.000000,36259.000000,36259.000000,36259.000000,36259.000000,36259.000000,36259.000000
mean,0.087371,0.508756,47.786260,1.274718,3.206349,6.919358,0.056400,1.132050,49.136159,0.248656,7.116412,0.182355,0.346645
std,0.282382,0.499930,18.763978,1.039839,1.677450,3.523153,0.230695,1.159798,92.282125,0.432240,1.591870,0.386142,0.475908
min,0.000000,0.000000,18.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,31.000000,1.000000,2.000000,4.000000,0.000000,0.000000,0.000000,0.000000,6.000000,0.000000,0.000000
50%,0.000000,1.000000,47.000000,1.000000,3.000000,7.000000,0.000000,1.000000,3.000000,0.000000,7.000000,0.000000,0.000000
75%,0.000000,1.000000,63.000000,2.000000,4.000000,10.000000,0.000000,2.000000,60.000000,0.000000,8.000000,0.000000,1.000000
max,1.000000,1.000000,85.000000,3.000000,7.000000,12.000000,1.000000,4.000000,720.000000,1.000000,15.000000,1.000000,1.000000

In [7]:
df.corr()

,depression,gender,age,marital_status,household_size,household_income,full_time_work,work_type,time_in_current_job,trouble_sleeping_history,sleep_hours,vigorous_work,moderate_work
depression,1.000000,0.076830,0.000146,0.069384,-0.009940,-0.135354,-0.017644,-0.115652,-0.083793,0.229409,-0.083676,-0.001189,-0.017069
gender,0.076830,1.000000,-0.005393,0.075193,-0.006726,-0.041643,-0.018750,-0.123385,-0.084919,0.086669,0.042056,-0.200003,-0.094425
age,0.000146,-0.005393,1.000000,0.296308,-0.379588,-0.058694,-0.081763,-0.276736,0.099685,0.131869,0.011981,-0.115655,-0.095856
marital_status,0.069384,0.075193,0.296308,1.000000,-0.143831,-0.098115,-0.019637,-0.036644,0.032442,0.092053,-0.043114,0.001138,-0.015490
household_size,-0.009940,-0.006726,-0.379588,-0.143831,1.000000,0.103949,0.029151,0.118557,-0.028038,-0.111203,-0.021711,0.062874,0.025959
household_income,-0.135354,-0.041643,-0.058694,-0.098115,0.103949,1.000000,0.043907,0.222578,0.227091,-0.030280,-0.001852,0.008397,0.047301
full_time_work,-0.017644,-0.018750,-0.081763,-0.019637,0.029151,0.043907,1.000000,0.209764,0.104942,-0.026967,-0.012171,0.065972,0.052279
work_type,-0.115652,-0.123385,-0.276736,-0.036644,0.118557,0.222578,0.209764,1.000000,0.476059,-0.121616,-0.067318,0.174275,0.118487
time_in_current_job,-0.083793,-0.084919,0.099685,0.032442,-0.028038,0.227091,0.104942,0.476059,1.000000,-0.036663,-0.070655,0.073265,0.034670
trouble_sleeping_history,0.229409,0.086669,0.131869,0.092053,-0.111203,-0.030280,-0.026967,-0.121616,-0.036663,1.000000,-0.128370,-0.017865,0.018589
sleep_hours,-0.083676,0.042056,0.011981,-0.043114,-0.021711,-0.001852,-0.012171,-0.067318,-0.070655,-0.128370,1.000000,-0.054727,-0.024435
vigorous_work,-0.001189,-0.200003,-0.115655,0.001138,0.062874,0.008397,0.065972,0.174275,0.073265,-0.017865,-0.054727,1.000000,0.394261
moderate_work,-0.017069,-0.094425,-0.095856,-0.015490,0.025959,0.047301,0.052279,0.118487,0.034670,0.018589,-0.024435,0.394261,1.000000

In [8]:

X=df.drop('depression',axis=1)

In [9]:
X.head()

,gender,age,marital_status,household_size,household_income,full_time_work,work_type,time_in_current_job,trouble_sleeping_history,sleep_hours,vigorous_work,moderate_work
0,1,44,1,4,11,0,2,324,0,9,0,0
1,0,70,1,2,11,0,2,96,0,7,0,0
2,0,73,1,2,5,0,0,0,1,7,0,1
3,1,18,0,3,11,0,2,12,0,6,0,0
4,0,19,0,3,11,0,2,24,0,7,0,0

In [10]:
Y=df['depression']

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=0)

In [12]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [13]:
batch=LogisticRegression()
batch.fit(X_train, Y_train)

/Users/HarshEnterprises/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [14]:
pred = batch.predict(X_test)

In [15]:
accuracy_score(Y_test,pred)

0.9167126309983453

In [16]:
import pickle
pickle.dump(batch,open('depression.pkl','wb'))
model=pickle.load(open('depression.pkl','rb'))